/*https://uiverse.io/SteveBloX/short-fish-35*/
#add-button, #suggestions-button, #make-maps-button {
    width: var(--field-width);
    height: 35px;
    border: none;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: linear-gradient(45deg, #b3ccdd, #6593f5, #0f2027);
    color: white;
    font-size: 0.9em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3px;
    margin-bottom: 2px;
  }
  
  #add-button:hover, #suggestions-button:hover, #make-maps-button:hover {
    background: linear-gradient(45deg, #6593f5, #0f2027, #b3ccdd);
    color: white;
    font-size: 1.0em;
  }
  
  #make-maps-button {
    grid-area: make-maps-button-container;
    width: 100%;
  }

  #add-button:disabled, #suggestions-button:disabled, #make-maps-button:disabled {
    background: grey;
    cursor: not-allowed;
}

.button-svg path {
  fill: white; /* makes only the SVG icons inside the buttons white */
}

.button.button-dark, .button.button-light {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* To enable positioning for the child element */
}

.button-label {
  flex-grow: 1;
  text-align: center;
}

.button-text {
  padding-right: 5px;
}

/*
.button-info-icon, .button-svg {
  position: absolute;
  right: 4px; 
  top: 50%;
  transform: translateY(-50%);
}
*/

.button-info-icon {
  position: absolute;
  right: 7px; 
  top: 50%;
  transform: translateY(-45%);
}

.button-info-icon svg {
  outline: none;
}

.button-info-icon svg:hover {
  transform: scale(1.1) rotate(5deg);
  transition: transform 0.2s ease-in-out;
}
