header {
  position: fixed; /* Make the header fixed position */
  top: 0; /* Align the header to the top of the viewport */
  left: 0; /* Align the header to the left of the viewport */
  right: 0; /* Stretch the header across the full width of the viewport */
  z-index: 1000; /* Ensure the header appears above other content */
}

.headroom {
  transition: all .2s ease-in-out;
  top: 0; /* Set the initial position */
}

.headroom--unpinned {
  top: -150px; /* Move the header up out of view */
}

.headroom--pinned {
  top: 0px; /* Move the header back into view */
}


.main-container {
  display: flex;
  justify-content: space-between;
}

.grid-wrapper {
  width: auto; /* Adjust this value as needed */
}

:root {
  --column-width: 150px; 
  --field-width: 145px; 
  --field-height: 25px;
  --tag-width: calc(var(--field-width) * 2 - 20 );
}

/*
.container {
  display: grid;
  grid-template-columns: var(--column-width) var(--column-width);
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto; 
  gap: 2px 2px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "add-tags-header-container add-tags-header-container"
    "location-a-label location-b-label"
    "country-a-dropdown country-b-dropdown"
    "airport-a-filter-search airport-b-filter-search"
    "airport-a-code airport-b-code"
    "add-button-container suggestions-button-container"
    "make-maps-button-container make-maps-button-container"
    "info-message-container info-message-container"
    "tags-header-container tags-header-container"
    "location-pair-tags-container location-pair-tags-container";
}
*/



/* Add styles for new info-icon div */
/*
.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
*/
.container {
  display: grid;
  grid-template-columns: var(--column-width) var(--column-width) auto;  /* Add third column for icons */
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto; 
  gap: 2px 2px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "add-tags-header-container add-tags-header-container add-tags-header-container"
    "location-a-label location-b-label location-b-label"
    "country-a-dropdown country-b-dropdown country-b-info"
    "airport-a-filter-search airport-b-filter-search airport-b-info"
    "airport-a-code airport-b-code airport-b-code"
    "add-button-container suggestions-button-container suggestions-button-container"
    "make-maps-button-container make-maps-button-container make-maps-button-container"
    "info-message-container info-message-container info-message-container"
    "tags-header-container tags-header-container tags-header-container"
    "location-pair-tags-container location-pair-tags-container location-pair-tags-container";
}


/* Add styles for new info-icon div */
.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px; 
}

.info-icon svg {
  outline: none;
}

.info-icon svg:hover {
  transform: scale(1.1) rotate(5deg);  /* Increase size by 10% and rotate 5 degrees */
  transition: transform 0.2s ease-in-out;
}


/* Set grid-areas for new info icons */
.country-b-info { grid-area: country-b-info; }
.airport-b-info { grid-area: airport-b-info; }

.add-tags-header-container {
  grid-area: add-tags-header-container;
}

.tags-header-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.add-tags-header,
.tags-header {
  text-align: center;
  background: grey;
  padding: 2px 2px; /* Adjust padding as needed */
  color: white;
  margin-bottom: 5px; /* Adjust margin as needed */
  margin-top: 0px; /* Adjust top margin as needed */
  font-size: 0.9em;
  /*width: 325px;*/
  flex-grow: 1; 
}

.tags-header-info-icon {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.tags-header-info-icon svg {
  outline: none;
}

.tags-header-info-icon svg:hover {
  transform: scale(1.1) rotate(5deg);
  transition: transform 0.2s ease-in-out;
}

.tags-header-svg {
  fill: #FFFFFF;
}

.location-a-label,
.location-b-label {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1em;
  position: relative;
  top: -3px;
}

.country-a-dropdown { grid-area: country-a-dropdown; }
.country-b-dropdown { grid-area: country-b-dropdown; }

.country-a-dropdown select,
.country-b-dropdown select {
  width: var(--field-width);
  height: var(--field-height);
  margin-top: 1px;
  margin-bottom: 5px;
}

.airport-a-filter-search { grid-area: airport-a-filter-search; }
.airport-a-filter-search input {
  width: var(--field-width);
  height: var(--field-height); 
}
.airport-b-filter-search { grid-area: airport-b-filter-search; }
.airport-b-filter-search input {
  width: var(--field-width);
  height: var(--field-height); 
}

.awesomplete ul {
  position: relative;
  width: 125%!important;
  z-index: 9999;
}

.add-button-container { 
  grid-area: add-button-container; 
  width: var(--field-width); 
}
.suggestions-button-container { 
  grid-area: suggestions-button-container; 
  width: var(--field-width); 
}
.make-maps-button-container {
  grid-area: make-maps-button-container; 
  /*width: var(--tag-width); */
  width: 296px;
  grid-column: span 2;
}
.info-message-container { 
  grid-area: info-message-container; 
  width: 100%; 
}
#info-message { color: red; margin-top: 10px; }

.tags-header-container {
    grid-area: tags-header-container 
}


.location-pair-tags-container { 
  grid-area: location-pair-tags-container; 
}

body {
  text-decoration: none;
  font-family: sans-serif;
  padding-top: 125px;
}

header {
  text-align: center;
  background: linear-gradient(45deg, #b3ccdd, #6593f5, #0f2027);
  padding: 25px 20px;
  color: white;
  margin-bottom: 10px;
}

header h1 { margin: 0 0 10px 0; }
header p { margin: 0; }
#input-area { width: 30%; padding: 20px; box-sizing: border-box; }
#map-area { width: 70%; }
.title { text-align: center; border: 1px solid #000; padding: 5px; }
.subtitle { text-align: center; border: 1px solid #000; padding: 5px; }

input {
  height: 30px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

input:disabled {
  background-color: #eee;
  color: #aaa;
}

button {
  display: block;
  margin-top: 20px;
  width: 100%;
}

table { width: 100%; border-collapse: collapse; }
td, th { border: 1px solid #000; }

/* Wrapper */
.wrapper {
  width: 100%;
  max-width: 1000px;
  min-width: 500px;
  margin: 0px auto 2rem; /* top, right and left, bottom */
  padding: 1rem;
  background: white;
  /*box-shadow: 0 0 3px 5px rgba(0,0,0,0.08653);*/
  /*padding: 1.0rem; */
  box-shadow: none;
}

/* Download logs button */
#download-logs {
  background-color: #4a6da7;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#download-logs:hover {
  background-color: #3a5d97;
}

.dropdown-container {
  display: flex;
  align-items: center;
}

#projectionSelect {
  margin-right: 5px;
}

#chartdiv1 {
  width: 100%;
  min-width: 800px;
  height: 600px;
}
